body {
    background-color: #E1D7B7; 
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.img-container {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


.description,
.text,
.steps {
    font-size: 16px;
    background-color: #7C93C3;
    padding: 8px;
    margin: 40px;
    line-height: 1.7;
}

.description {
    font-weight: 600;
}

.text {
    text-align: center;
}

.myUL {
    display: inline-block;
    text-align: left;
}

